<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <errorSubmit>
        <processor type="Sitecore.Support.Form.Core.Pipelines.FormSubmit.FormatMessage, Sitecore.Support.78434" patch:instead="*[@type='Sitecore.Form.Core.Pipelines.FormSubmit.FormatMessage, Sitecore.Forms.Core']"/>
      </errorSubmit>
    </pipelines>
  </sitecore>
</configuration>